*{
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: black;
    color: white;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(images/background.jpg);
    background-size: cover;
    background-position: center;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 8%;
    padding-right: 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 150px;
    cursor: pointer;
    margin-left: 2rem;
}
nav button{
    border: 0;
    outline: 0;
    background: red;
    color: white;
    padding: 7px 20px;
    margin-right: 2rem;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
}
.header-content{
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    margin-top: 100px;
    transform: translate(-50%,-50%);
}
.header-content h1 {
    font-size: 60px;
    font-weight: 600;
    line-height: 70px;
    max-width: 650px;
}
.header-content h3 {
    margin-bottom: 20px;
    font-weight: 400;
}

.signup{
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}

.signup input{
    flex: 1; 
    border: 0;
    outline: 0;
    margin-left: 20px;
    background: 0;
    color: white;
}
.signup button{
    background: red;
    border: 0;
    outline: 0;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding: 15px 30px;
    margin-left: 1rem;
    
}

/* ----------features---------- */

.features{
    padding: 50px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.textcolumn{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.imgcolumn{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.imgcolumn img{
    display: block;
    margin: auto;
    width: 90%;
}
.features h1{
    font-weight: 800;
    font-size: 50px;
}

/* --------faq-------- */

.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.faq h1{
    font-size: 50px;
    font-weight: 800;
    padding-top: 3rem;
}

.questions{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.questions li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.questions li label{
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 2px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    cursor: pointer;
    position: relative;
}
label::after{
    content: '+';
    font-size: 35px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"] {
    display: none;
}

.questions .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.questions input[type="radio"]:checked + label + .content{
    max-height: 600px;
    padding: 30px 20px;
}
.questions input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}

.faq .signup{
    max-width: 600px;
    margin: 20px auto 60px;
    background-color: #333;
}
.faq small {
    font-size: 13px;
}


/* --------footer-------- */

.footer{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}
.footer h1{
    font-size: 19px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer .column{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.footer .column a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 16px;
    margin-bottom: 15px;
}
.footer .row{
    align-items: flex-start;
    padding: 10px 0;

}
.lang-btn{
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid white;
    padding: 7px 10px;
    color: white;
}
.lang-btn img{
    width: 10px;
    margin-left: 10px;
}
.features .lang-btn{
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
}
.footer p{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 10px;
}

/* --------mwdia-queries-------- */
@media only screen and (max-width: 600px){
    .logo{
        width: 100px;
    }
    nav button{
        padding: 5px 10px;
    }
    .header-content{
        position: unset;
        transform: none;
        padding-top: 150px;
    }
    .header-content h1{
        font-size: 30px;
    }
    .signup button{
        font-size: 12px;
        padding: 10px 15px;
    }
    .textcolumn, .imgcolumn{
        flex-basis: 100%;
    }
    .features h1{
        font-size: 30px;
    }
    .features p{
        font-size: 15px;
    }
   .row:nth-child(2), .row:nth-child(4) {
    flex-direction: column-reverse;
   }
   .features .row{
    padding: 10px 0;
   }
   .faq h1{
    font-size: 20px;
   }
   .questions .content{
    font-size: 15px;
   }
   .questions li label{
    padding: 10px;
    font-size: 15px;
   }
   label::after{
    font-size: 23px;
   }
}
.a:hover{
    background-color: rgb(184, 23, 23);
    transition-duration: 0.3s;
    
}